@import 'defaults/variables';

.dashboard {
    // display: flex;
    // flex-flow: row wrap;
    // width: 100%;

    section {
        flex-grow: 0;
        flex-shrink: 1;
        margin: 0.5rem;
        border-radius: $border-radius-lg;
        border: $clr-gray-transparent 2px dashed;
        background-color: $clr-light-transparent;
        overflow: hidden;
        h2 {
            text-align: center;
            border-bottom: $clr-gray-transparent 2px dashed;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
        }
        & > * {
            padding: 1rem;
        }
    }

    &__contributor {
        margin-left: 1rem;
        padding: 0.2rem 1rem;
        &:not(:last-child) {
            border-bottom: $clr-gray-transparent 1px solid;
        }
        :first-child {
            float: left;
        }
        :last-child {
            float: right;
        }
    }

    &__most-viewed {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    &__recent > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &__material {
        cursor: pointer;
        flex: 1 1 10rem;
        overflow: hidden;
        text-align: center;
        img {
            width: 100%;
            height: 10rem;
            object-fit: cover;
            background-color: $clr-focus;
        }
        p, strong {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            padding: 0.2rem 0.5rem;
        }
        &:hover {
            color: $clr-focus;
            background-color: $clr-focus-bg;
            outline: $clr-focus 1px solid;
        }
    }

    &__subtitle {
        font-size: 1.1rem;
        font-weight: bold;
        color: $clr-active;
        background-color: $clr-active-bg;
    }

    &__views {
        max-width: 100%;
    }
}

@media screen and (min-width: $md-l) {
    .page:has(.page__sidebar) {
        grid-template:
            "a a" auto
            "c b" 1fr / 1fr minmax(15rem, 0.3fr);
    }
}
