.navbar {
    --height: 6rem;
    --padding: 1rem;
    --font-size: 1.25rem;

    overflow: hidden;
    background-color: var(--clr-dark);
    box-shadow: 0rem 0.5rem 1rem var(--clr-dark-transparent);
    border-bottom: var(--clr-dark) solid 0.15rem;
    margin-bottom: 1rem;

    img, a {
        cursor: pointer;
        color: var(--clr-light);
        float: left;
        display: block;
        text-align: center;
        justify-content: center;
    }
    img {
        resize: both;
        height: var(--height);
        padding: calc(var(--padding) / 2) calc(var(--padding) / 2);
    }

    a {
        position: relative;
        top: var(--padding);
        padding: 0rem var(--padding);
        line-height: calc(var(--height) - 2rem);
        font-size: var(--font-size);
        font-weight: 600;
        text-decoration: none;
        border-radius: 1rem;
    }


    a:hover {
        color: var(--clr-focus);
        background-color: var(--clr-focus-bg);
    }

    .active {
        color: var(--clr-active);
        background-color: var(--clr-active-bg);
    }

    .login, .icon {
        float: right;
    }

    .icon {
        display: none;
    }

    @media screen and (max-width: 1200px) {
        // hide all links
        a {
            display: none;
        }
        // show toggler
        .icon {
            display: block;
        }
        &.responsive {
            // show links if toggled to responsive
            a:not(.icon) {
                --h: calc(var(--height) * 0.6);
                clear: both;
                float: none;
                display: block;
                text-align: left;
                font-size: calc(var(--font-size) - 0.25rem);
                line-height: calc(var(--h));
            }
            // margin after last link
            a:nth-last-child(2) {
                margin-bottom: 1rem;
            }
            // icon is displayed separately separate from links
            .icon {
                position: absolute;
                right: var(--padding);
                top: calc(var(--padding) * 2);
            }
        }
    }
}

.pagination {
    width: fit-content;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;

    .pager-item-list {
        display:flex;
        list-style: none;
    }

    .pager-item {
        --border: var(--clr-light) 1px solid;
        button {
            height: 100%;
            padding: 0.5rem 1.5rem;
            border: var(--border);
            border-left: 0px;
            border-radius: 0px;
            font-weight: var(--fw-button);
            color: var(--clr-light);
            background-color: var(--clr-dark);
        }
        &:first-of-type button {
            border-left: var(--border);
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
        &:last-of-type button {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        &.active button {
            color: var(--clr-active);
        }
        button:hover {
            color: var(--clr-focus);
            background-color: var(--clr-focus-bg);
            border-color: var(--clr-dark);
        }
    }
}
