.property {

    &-actions {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        select, button {
            border: 1px solid var(--clr-gray200);
            border-radius: 0.5rem;
            padding: 0.25rem 0.5rem;
            cursor: pointer;
            color: #000;
            background-color: #fff;
            background-image: linear-gradient(to top, #f0f0f0, #fafafa 33%);
        }

        select {
            width: 100%;
        }

        button {
            font-weight: bold;
            width: 50%;
        }

        button:hover {
            color: var(--clr-primary-hover);
            background-image: linear-gradient(to top, #fff, #fff 33%);
        }

        option:disabled {
            display: none;
        }
    }

    &-groups {
        padding: 0.5rem;
        border: 2px solid var(--clr-gray200);
        border-radius: 0.5rem;

        label {
            color: var(--clr-gray400);
        }

        .property-group {
            display: flex;
            flex-wrap: wrap;
            font-size: smaller;
            margin-bottom: 1rem;

            &-wrapper {
                padding: 0.2rem;
            }

            &-item {
                display: inline-block;
                border: 1px solid var(--clr-gray400);
                border-radius: 10rem;
                background-color: #fafafa;

                p {
                    margin-left: 0.5rem;
                }

                button {
                    margin-right: 0.5rem;
                    font-weight: bold;
                }

                p, button {
                    display: inline-block;
                    font-size: 0.8rem;
                    color: var(--clr-gray400);
                    margin-bottom: 0px;
                }

                &:hover {
                    background-color: #efefef;
                }
            }
        }

        .property-group:last-of-type {
            margin-bottom: 0rem;
        }
    }

    *[class$=inactive] {
        display: none;
    }
}
