// BOOTSTRAP SIZINGS
// @media screen and (max-width: 767px) {} // xs
// @media screen and (min-width: 768px) and (max-width: 991px) {} // sm
// @media screen and (min-width: 992px) and (max-width: 1199px) {} // md
// @media screen and (min-width: 1200px) {} // lg

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-active: #009999;
    --clr-focus: #009999;
    --clr-focus-bg: #ffffffcc;
    --clr-hyperlink: #009999;
    --clr-dark: #1a1a1a;
    --clr-dark-transparent: #0000004b;
    --clr-light: #f3f3f3;
    --clr-light-transparent: #f3f3f398;
    --clr-text: #222222;
    --clr-text-small: #333333;

    --fs-button: 1.05rem;
    --fw-button: 400;
}

body {
    font-family: 'Open Sans', Helvetica, Arial;
    background-color: #fff;
}

p {
    color: var(--clr-text);
}

small {
    color: var(--clr-text-small);
}

a.button {
    height: 100%;
}

button, input, a.button {
    padding: 0.2rem;
    border-radius: 0.4rem;
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
}

button, a.button {
    border: var(--clr-dark) 1px solid;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &.create {
        color: var(--clr-focus-bg);
        background-color: var(--clr-focus);
        border: var(--clr-focus-bg) 1px solid;
        max-width: 10rem;
    }

    &:hover {
        color: var(--clr-focus);
        background-color: var(--clr-focus-bg);
        border-color: var(--clr-focus);
    }
}

input {
    border: var(--clr-dark) 1px solid;
    color: var(--clr-text);
    background-color: var(--clr-light-transparent);
    outline-color: var(--clr-active);
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    cursor: pointer;

    &::placeholder {
        color: var(--clr-dark-transparent)
    }
    &:hover {
        color: var(--clr-focus);
        background-color: var(--clr-focus-bg);
        border-color: var(--clr-focus);
    }
}

footer {
    position: static;
    bottom: 0px;
    background-color: var(--clr-dark);
    text-align: center;
    p {
        color: var(--clr-light-transparent);
        padding: 0.25rem 0.25rem;
    }
    a {
        color: var(--clr-hyperlink);
    }
    section > a {
        padding: 1rem 1rem;
        text-decoration: none;
    }
}

.container {
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;

    & div, & main {
        max-width: 100%;
    }

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
    @media (min-width: 1400px) {
        width: 1320px;
    }
}

.page {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    &-content {
        flex-basis: 26rem;
        flex-grow: 9999;
        @media screen and (max-width: 620px) {
            flex-basis: 0rem;
        }
    }
    &-sidebar {
        flex-basis: 18rem;
        flex-grow: 1;
        @media screen and (max-width: 320px) {
            flex-basis: 0rem;
        }
        h1 {
            opacity: 0;
        }
    }
    &-controls {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto !important;
        margin-bottom: 1rem;
        & > * {
            flex-grow: 1;
            flex-shrink: 1;
        }
        & > :not(:first-child) {
            margin-left: 0.4rem;
        }
    }
}

.active {
    color: var(--clr-active);
}

input[type='checkbox']:checked {
    accent-color: var(--clr-active);
}

input:read-only {
    color: var(--clr-text);
    background-color: var(--clr-active);
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
