// BOOTSTRAP SIZINGS
// @media screen and (max-width: 767px) {} // xs
// @media screen and (min-width: 768px) and (max-width: 991px) {} // sm
// @media screen and (min-width: 992px) and (max-width: 1199px) {} // md
// @media screen and (min-width: 1200px) {} // lg

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --card-bg: gray;
    --card-outline: black;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
}


input[type=url]:read-only, input[type=url] :read-only:focus {
    background-color: var(--clr-gray200);
}

.container {
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
    @media (min-width: 1400px) {
        width: 1320px;
    }
}

.page {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
    &-content {
        flex-basis: 40rem;
        flex-grow: 1000;
    }
    &-sidebar {
        flex-basis: 20rem;
        flex-grow: 1;
    }
}

.pagination {
    margin-top: 1rem;
}

.footer {
    position: sticky;
    bottom: -10rem;
    width: 100%;
    z-index: 1;
}

.checked {
    color: orange;
}

.unchecked {
    color: gray;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.auto-grid {
    --min-col-size: 12rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--min-col-size), 100%), 1fr)
    );

    .relation {
        cursor: pointer;
        padding: 1rem;
        width: var(--min-col-size);
        border:  var(--card-outline) solid;
        border-radius: 1rem;
        background-color: var(--card-bg);
        align-items: center;
        justify-content: center;

        .relation-thumbnail {
            width: 10rem;
            height: 10rem;
            resize: both;
        }

        .relation-title {
            font-weight: 400;
            height: var(--min-col-size) / 3;
            overflow: hidden;
        }
    }
}
