/*
This file contains default settings for all text elements.
*/

@import '_variables.scss';

@import url('https://fonts.googleapis.com/css?family=Noto Sans');

* {
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #222222;
    text-decoration: none;
}

h1 {
    font-size: 2.6rem;
    font-weight: bolder;
    @media screen and (max-width: $md) {
        font-size: 2.4rem;
    }
    @media screen and (max-width: $sm) {
        font-size: 2rem;
    }
    @media screen and (max-width: $xs) {
        font-size: 1.8rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    @media screen and (max-width: $sm) {
        font-size: 1.35rem;
    }
    @media screen and (max-width: $xs) {
        font-size: 1.25rem;
    }
}

h3 {
    font-size: 1.35rem;
    @media screen and (max-width: $sm) {
        font-size: 1.25rem;
    }
    @media screen and (max-width: $xs) {
        font-size: 1.15rem;
    }
}

h4 {
    font-size: 1.2rem;
    @media screen and (max-width: $xs) {
        font-size: 1rem;
    }
}

h5, h6 {
    font-size: 1rem;
}

p, pre, a, i, span {
    font-size: 1rem;
    @media screen and (max-width: $sm) {
        font-size: 0.95rem;
    }
    @media screen and (max-width: $xs) {
        font-size: 0.9rem;
    }
}

u {
    text-decoration: underline;
}

a {
    color: $clr-hyperlink;
}

small {
    font-size: 0.75rem;
}

strong {
    font-weight: bold;
}
