// colors
$clr-active: #009999;
$clr-active-bg: #3bbbbb2d;
$clr-focus: #009999;
$clr-focus-bg: #ffffffcc;
$clr-hyperlink: #009999;
$clr-dark: #1a1a1a;
$clr-dark-transparent: #0000004b;
$clr-gray: #474747;
$clr-gray-transparent: #47474717;
$clr-light: #f3f3f3;
$clr-light-transparent: #f3f3f398;
$clr-text: #222222;
$clr-text-small: #333333;

// button settings
$fs-button: 1.05rem;
$fw-button: 400;

// screen sizes
$xs: 767px;
$sm-l: $xs + 1px;
$sm: 991px;
$md-l: $sm + 1px;
$md: 1199px;
$lg: 1200px;
