// colors
$clr-active: #00cfcf;
$clr-active-bg: #0f5e5e;
$clr-focus: #009999;
$clr-focus-bg: #d4eeee;
$clr-hyperlink: #009999;
$clr-dark: #1a1a1a;
$clr-dark-transparent: #00000028;
$clr-gray: #474747;
$clr-gray-transparent: #47474717;
$clr-light: #f3f3f3;
$clr-light-semi-transparent: #f3f3f3ee;
$clr-light-transparent: #f3f3f37e;
$clr-text: #222222;
$clr-text-small: #444444;
$clr-text-important: #173ea7;
$clr-private: #009999;
$clr-private-bg: #00999928;

// button settings
$fs-button: 1.05rem;
$fw-button: 400;

// border
$border-radius: 0.4rem;
$border-radius-lg: 1rem;

// spaces
$space-sm: 0.2rem;
$space-md: 0.5rem;
$space-lg: 1rem;

// screen sizes
$xs: 767px;
$sm-l: $xs + 1px;
$sm: 991px;
$md-l: $sm + 1px;
$md: 1199px;
$lg-l: $md + 1px;
$lg: 1399px;
$xl: $lg + 1px;

// background gradient;
$bg-gradient: linear-gradient(65deg, #0e3535 0%, #009292 100%);
$bg-gradient-cpy: linear-gradient(45deg, rgb(230, 230, 230) 0%, rgb(240, 240, 240) 40%, rgb(255, 255, 255) 100%);
