@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
       -o-transform: $property;
          transform: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
       -o-transition: $property;
          transition: $property;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color; 
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

@mixin boxshadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

@mixin centering() {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
     -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
}

/*COLORS*/
$greyLight: #e2e2e2;
$grey: #212121;
$blue: #01579b;
$blueLight: #4f83cc;

/* PAGE with all files */
.ll-container {
	width: 90%;
	max-width: 1040px;
	margin: 0 auto;
}

input[type="text"].file-name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $greyLight;
}
input[type="text"].file-name::-moz-placeholder { /* Firefox 19+ */
  color: $greyLight;
}
input[type="text"].file-name:-ms-input-placeholder { /* IE 10+ */
  color: $greyLight;
}
input[type="text"].file-name:-moz-placeholder { /* Firefox 18- */
  color: $greyLight;
}

.fm-button, input[type="submit"].fm-button {
	display: inline-block;
    vertical-align: middle;
    background: $blue;
    color: white;
    padding: 15px 25px;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-weight: 300;
    border-radius: 0;
    margin: 0 0 0 10px;
    font-size: 16px !important;

    &:hover {
    	background: $blueLight;
    	color: #212121;
    }
}

input[type="text"].fm-input {
	font-size: 16px;
}

.material-item {
	position: relative;
	margin-bottom: 46px;
	text-decoration: none;
    display: block; 
    @include transition(.2s);
    padding-bottom: 10px;

    &:hover {
    	background-color: #f1f1f1;
    }

	&:after {
		position: absolute;
		content:"";
		display: block;
		bottom: -26px;
		left: 0;
		right: 0;
		height: 1px;
		background-color: $greyLight;
	}

	.fm-button {
		padding: 10px 15px;
   		font-size: 14px !important;
	}
}

.material-item:last-of-type:after { 
	display: none; 
}
		
	.material-thumb,
	.material-thumb.dashicons {
		position: relative;
		width: 150px;
		height: 150px; 
		display: inline-block;
		vertical-align: top;
		background-color: #e9f5ff;
	} 

	.material-thumb.dashicons:before {
		position: absolute;
		@include centering();
		font-size: 75px;  
		color: $blue;
	}

	 p.material-date {
		font-size: 13px;
    	margin-bottom: 0;
    	padding-left: 2px; 
	}

	 img {
		display: inline-block;
		vertical-align: top;
	}

	 .material-description {
		display: inline-block;
		vertical-align: top; 
		width: 80%;
		margin-left: 2%;
		margin-top: 0.5%;
	}

	.material-taxonomies {
		margin-bottom: 20px;
		font-size: 0;
	}

	.taxonomy-wrap {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 30%;
    	font-size: 15px;
    	padding-right: 20px;
    	margin-bottom: 10px;
	}

	.taxonomy-title {
		display: block;
	}

	.taxonomy-title span {
		white-space: nowrap;
		@include transition(.2s);
	}

	.taxonomy-wrap a {
		@include transition(.2s);
		color: $blue;
		//white-space: nowrap;
	}

	.taxonomy-wrap a:hover {
		color: $blueLight;
	}

	.taxonomy-wrap:after {
	}

	p.material-title,
	h1.material-title {
		position: relative;
		font-size: 20px;
	    text-transform: uppercase;
	    margin-bottom: 6px;
	    font-weight: 600;
	    color: #333;
	    max-width: 77%;
	}

	p.material-title:after,
	h1.material-title:after {
		position: absolute;
		content:"";
		bottom: -3px;
		left: 0;
		width: 20%;
		height: 1px;
		background-color: $greyLight;
	}

	.material-rate {
		margin-bottom: 20px;
	}


	.links-wrap {
		text-align: right;
		margin-top: 10px; 
	}

		.links-wrap .material-views{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			margin-right: 10px;
			margin-bottom: 0;
		}

		.links-wrap .material-link {
			display: inline-block;
			vertical-align: middle;
			background: $blue;
		    color: white;
		    padding: 15px 25px;
		    text-transform: uppercase;
		    line-height: 1;
		    @include transition(.2s);

		    &:hover {
		    	background: $blueLight;
		    	color: $grey;
		    }
		}

h2.search-title {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
    margin-right: 20px;
}

.search-input-wrap {
	position: relative;
	margin-bottom: 30px;
}

.search-input-wrap .dashicons {
	position: absolute;
	z-index: 99;
	left: 10px;
	top: 14px;  
	color: #909090;
}

input[type="text"].file-name {
	position: relative;
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	padding-left: 35px;
	height: 46px; 

	@include placeholder(#909090);
}

/*.show-filters-btn {
	@include transition(.2s);
	color: $blue;
	font-size: 15px; 


	&:hover {
		color: $blueLight;
		cursor: pointer;
	}
}*/

.filters-popup {
	display: none;
	position: fixed;
    z-index: 997;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
}

.filters-popup .popup-divider {
	position: fixed;
	z-index: 998;
	left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    background: #000000b8;
}

.filters-wrap {
	position: fixed;
	z-index: 999;
	left: 50%;
	top: 50%;
	@include transform(translate(-50%, -50%));
	font-size: 0;
	background-color: white;
	max-height: 80vh;
}

.filters-wrap .inner {
	position: relative;
	padding: 2%;
	height: 75vh;
	display: block;
    overflow-y: scroll;
}

.show-filters-btn:hover {
	cursor: pointer;
}

.popup-close {
	position: absolute;
	right: -10px;
	top: -10px;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: black;
	@include transition(.2s);
	z-index: 99;

	svg {
		width: 12px;
	    height: 12px;
	    margin-left: 7px;
	    margin-top: 6px;
	}

	svg path {
		fill: white;
	}

	&:hover {
		cursor: pointer;
		background-color: $blue;
	}
}

p.filtering-title {
	margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
}

.tax-filter-row {
	box-sizing: border-box;
	padding-left: 10px;
	margin-bottom: 10px;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

p.tax-filter-title {
	font-weight: bold;
    margin-bottom: 0;
    font-size: 15px;
}

p.tax-input {
	line-height: 20px;
	margin-bottom: 0;
}

p.tax-input.hidden-item {
	display: none; 
}

label.tax-label {
	position: relative;
	color: #333;
    display: inline-block;
    font-weight: 300;
    /* margin-bottom: 0.5em; */
    margin: 0 10px 0 0;
    font-size: 14px;
    padding-left: 22px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

label.tax-label:hover {
	color: #0083b5;
	cursor: pointer;
}

label.tax-label:before {
		position: absolute;
		content: "";
		width: 16px;
		height: 16px;
		display: block;
		border: 1px solid #b9b9b9;
		background-color: white;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		box-sizing: border-box;
}

label.tax-label:after {
		position: absolute;
		content: "";
		width: 10px;
		height: 10px;
		display: block;
		background-color: #0083b5;
		left: 3px;
		top: 5px; 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		-webkit-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
		transform-origin: center;
}

input[type="checkbox"]:checked + label.tax-label:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

input[type="checkbox"]:checked + label.tax-label {
	color: #0083b5;
}
	
	.tax-filter-row input[type="checkbox"] {
		margin-right: 2px;
    	vertical-align: middle;
    	display: none;
    	margin-left: 18px;
	}

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader{
  -webkit-perspective: 120px;
  -moz-perspective: 120px;
  -ms-perspective: 120px;
  perspective: 120px;
}

#loader:before{
  content: "";
  position: absolute;
  left: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  animation: flip 1s infinite;
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg)  rotateX(180deg);
  }
}

.buttons button.reset-filters-btn {
	display: none;
} 

.searched-materials {

}

	.searched-materials p {
		margin-bottom: 5px; 
	}  

	.searched-filters {
		margin-bottom: 46px; 
		position: relative;

		&:after {
			position: absolute;
		    content: "";
		    display: block;
		    bottom: -26px;
		    left: 0;
		    right: 0;
		    height: 1px;
		    background-color: #e2e2e2;
		}
	}

	.searched-filters .edit-filters-btn { 
		margin-left: 0;
		@include transition(.2s);

		&:hover {
			color: $blueLight;
			cursor: pointer;
		}
	}

	.searched-materials .taxonomy-wrap {
		display: inline-block;
		margin-right: 10px; 
	}

.top-materials {

}

.buttons button {
	display: inline-block;
	margin: 0 10px;
}

.show-more-btn {
    font-size: 14px;
    color: grey;
    transition: .2s;
    position: relative;
    display: block;
    width: 90px;
}

.show-more-btn:hover {
	cursor: pointer;
	color: #0083b5;
}

.show-more-btn:hover:after {
	border-color: #0083b5;
}

.show-more-btn:after {
	position: absolute;
	content: "";
	right: 0;
	top: 3px;
	width: 10px;
	height: 10px;
	display: block;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.show-more-btn.open:after {
	top: 9px;
	right: 45px;
	-webkit-transform: rotate(-135deg);
   -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
     -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
}

.file-list {
	margin-top: 50px;
}

	.list-title {
		font-size: 19px;
    	font-weight: bold;
	}

	.file-item {
		margin-bottom: 25px;
		position: relative;
	}

	.file-item:nth-of-type(2n+1) {
		background-color: #f7f7f7;
	}

		.file-thumb {
			display: inline-block;
		    max-width: 150px;
		    height: 150px;
		    width: 20%;
		    vertical-align: top;
		}

		.file-content {
			display: inline-block;;
			width: 80%;
			padding-left: 10px; 
			padding-top: 10px;
		}

			.file-title {
				margin-top: 0;
				padding-top: 0;
				margin-bottom: 0;
				display: inline-block;
				line-height: 25px;
			    vertical-align: middle;
			}

			.file-description {
				display: block;
    			font-size: 15px;
    			margin-bottom: 10px;
    			margin-top: 10px;
    			padding-left: 10px;
			}
				
				.file-description p {
					margin-bottom: 5px;
				}

				.taxonomy-title {
					margin: 0;
    				display: block;
    				font-weight: bold;
				}

				.taxonomy-row {
					font-size: 13px;
					margin: 5px 0 0 0;
					display: inline-block;
					margin-right: 5px;
				}


.single-materials #intro.option1 {
	display: none;
}

.single-material {

}
	.single-material .file-description p {
		margin-bottom: 20px;
	}

	.single-material .file-thumb {
		display: inline-block;
		vertical-align: middle;
	}

	.single-material .material-header {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 80%;
		padding-left: 2%;
	}

	.single-material .taxonomy-wrap {
		float: left;
	}

	.single-material .msg {
		width: 100%;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin: 15px 0;
	}

	.single-material .msg.success {
		background-color: #6dd26d;
		border: 1px solid #128a12;
		color: #005200;
	}

	.single-material .msg.warning {
		background-color: #ffbc68;
	    border: 1px solid #bf6a00;
	    color: #884b00;
	}

.g-recaptcha {
	margin-bottom: 10px;
}


.section.download {}

	.section.download > .fm-button {
		margin-left: 0;
	}

	.material-file-items {
		width: 50%;
		font-size: 0
	}
	 
		.material-file-item {
			border-bottom: 1px solid #ccc;
			padding: 8px 5px;
			@include transition(.2s);
			display: block;
 
			&:hover {
				background-color: #b1ddff;
				color: white;
			}
		}

		.material-item:last-of-type {
			border-bottom: 0;
		}

		.material-file-item .file-title {
			display: inline-block;
			width: 70%;
			text-align: left;
			vertical-align: middle;
			font-size: 16px;
		}

		.material-file-item .file-item-download-cell {
			display: inline-block;
			width: 30%;
			text-align: center;
			vertical-align: middle;
		}

		.material-file-item .download-icon {
			display: inline-block;
	    	width: 22px;
	    	height: 22px;
	    	vertical-align: middle;
		}

		.download-icon svg path {
			fill: $blue;
			@include transition(.2s);
		}

		.single-material .fm-button:hover > .download-icon svg path {
			fill: $blueLight;;
		}

.related-files-items {
	font-size: 0;
}

	.related-file-item {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		margin: 1%;
		max-width: 150px;
	}
	
		.related-file-item .title {
			font-size: 16px;
			line-height: 1.3;
			//max-height: 40px;
			margin: 10px 0;
		}

		.related-file-item .fm-button {
			margin-left: 0;
			padding: 10px 20px;
			font-size: 13px !important;
		}

.comments-section {}

	.comments-section label {
		display: block;
		margin-top: 20px;
	}

		.comments-section label input[type="text"],
		.comments-section label input[type="email"] {
			margin-left: 20px; 
			display: inline-block;
   			width: 35%;
		}

		.comments-section textarea {
			width: 46%;
		    height: 150px;
		    resize: none; 
		}

		.comments-section input[type="submit"] {
			background-color: $blue;

			&:hover {
				background-color: $blueLight;
				color: black;
			}
		}

.comment-item {
	margin: 10px 0;
}

	.comment-header {

		img {
			width:80px;
			margin: 0 auto 10px auto;
			background-color: #d6d6d6;
			border-radius: 100%;
			vertical-align: middle;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
		}
	}

	.comment-content {
		display: block;
		vertical-align: middle;
    	padding-left: 90px;
	}

	.author-comment-name {
		display: inline-block;
		font-weight: bold;
		margin-bottom: 0;
		font-size: 18px;
	}

	.comment-date {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		font-size: 12px;
		margin-left: 5px;
	} 


	.comment-star {
		width: 16px;
		height: 16px;
		display: inline-block;
	}


.star {
	width: 30px;
	height: 30px;
	display: inline-block;
}


.stars {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
}

.comment-text-stars {
	display: block;
	height: 25px;
	margin-bottom: 10px;
}

#comment_error {
	color: red;
}

.file-star {
	width: 20px;
	height: 20px;
	display: inline-block;
	pointer-events: none;
	vertical-align: middle;
}

.comment-star {
	pointer-events: none;
}

.star svg,
.comment-star svg {
	width: 100%;
    height: 100%;
}

.star svg path,
.comment-star svg path,
.file-star svg path   {
	-webkit-transition: .2s ;
	   -moz-transition: .2s ;
	    -ms-transition: .2s ;
	     -o-transition: .2s ;
	        transition: .2s ;
	fill: #797979;
}

.star.active svg path,
.comment-star.active svg path,
.file-star.active svg path,
.star.pernament-active svg path,
.star:hover svg path { 
	cursor: pointer;
	fill: $blue;
}

.related-files-section {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


.related-file-link {
	display: block;
	color: #009999;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.related-file-link:hover {
	text-decoration: underline;
	color: #009999;
}

.related-files-title {
	color: #333;
    display: block;
    font-weight: 800;
    margin-bottom: 0.5em;
}


.back-button {
	margin-left: 0;
	margin-top: 10px;
}

.back-button.top {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 15px;
	margin: 0;
    font-size: 14px !important;
}

.fm-page-nav .page-numbers {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: $blueLight;
    color: white;
    text-align: center;
    margin: 0 10px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    padding: 0; 
    @include transition(.2s);

    &:hover {
      background-color: $blue;
      color: white;
    }
  }
  
  .fm-page-nav .page-numbers.current {
    background-color: $blue;
    color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
  }

/* ==== RESPONSIVE ==== */
@media screen and (max-width: 1000px){
	.filters-popup {
		position: static;
	}

	.filters-popup .popup-divider {
		display: none !important;
	}

	.filters-wrap {
		position: static;
		@include transform(none);
	}

	.popup-close {
		display: none;
	}

	.material-file-items {
		width: 100%;
	}

}//1000


@media screen and (max-width: 945px) {
	.material-item .material-description {
		width: 100%;
		margin-left: 0;
	}
}//945

@media screen and (max-width: 790px) {
	.single-material .material-header {
		display: block;
		width: 100%;
		padding-left: 0;
		margin-top: 20px;
	}

	.related-file-item {
	    width: 48%;
	    max-width: 48%;
	    margin: 20px 0;
	}
}//790

@media screen and (max-width: 710px) {
	input[type="text"].file-name {
		width: 100%;
		margin-bottom: 10px; 
	}

	input[type="submit"].fm-button {
		margin-left: 0;
	}  
}//710

@media screen and (max-height: 680px) {
	.filters-popup {
		position: static;
	}

	.filters-popup .popup-divider {
		display: none !important;
	}

	.filters-wrap {
		position: static;
		@include transform(none);
	}

	.popup-close {
		display: none;
	}
}//680

@media screen and (max-width: 650px) {
	.tax-filter-row {
		width: 100%;
		padding-left: 0;
	}

	.filters-wrap .inner {
		padding: 0;
	}

	p.tax-input {
		display: inline-block;
	}

	.single-material .taxonomy-wrap {
		width: 100%	
	}
}//650

@media screen and (max-width: 610px) {
	.back-button.top {
		top: -170px;
	}

	p.material-title, h1.material-title {
		max-width: 100%;
	}
}//610

@media screen and (max-width: 500px) {
	.material-item {
		text-align: center;
		
	}

	p.material-title:after {
		left: 50%;
		@include transform( translateX(-50%));
	} 

	.single-material p.material-title:after {
		left: 0;
		@include transform(none); 
	} 
}//500

@media screen and (max-width: 390px) {
	.related-file-item {
		display: block;
	    width: 80%;
	    max-width: 80%;
	    margin: 0 auto;
	    margin-top: 20px;
	    text-align: center;
	}
}

@media screen and (max-width: 380px) {
	.back-button.top {
		display: none;
	}
}//370

@media screen and (max-width: 370px) {
	.fm-button, input[type="submit"].fm-button {
		font-size: 13px !important;
	}
}//370
