@import '../defaults/variables';

.card {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    border: $clr-dark 1px solid;
    border-radius: $border-radius-lg;
    background-color: $clr-light;
    cursor: pointer;

    &__header * {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        @media screen and (max-width: $xs-l) {
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }

    &__thumbnail {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center center;
        }
        // flex-grow: 1;
        // flex-shrink: 1;
        background-color: $clr-focus;
        // height: 100%;
        // // sizing
        max-width: 20%;
        height: 100%;
        min-height: 100%;
        // @media screen and (max-width: $xs) {
        //     max-width: 30%;
        // }
        // @media screen and (max-width: $xs-l) {
        //     max-width: 100%;
        // }
    }

    &__body {
        flex-basis: 20rem;
        flex-grow: 9999;
        text-align: left;
        padding: 1rem;
    }

    &__content {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__footer {
        border-top: $clr-dark-transparent 1px solid;
        padding-top: 1rem;

        :first-child {
            float: left;
        }
        :last-child {
            float: right;
        }
    }

    &:hover {
        border-color: $clr-focus;
        box-shadow: none;
    }

    &:hover &__header {
        color: $clr-focus;
    }
}
