@import '../defaults/variables';

.collapsible {
    cursor: default;
    border: $clr-dark 1px solid;
    border-radius: $border-radius-lg;
    background-color: $clr-light-transparent;
    overflow: hidden;
    position: relative;

    & button {
        width: 100%;
    }

    &:hover {
        border-color: $clr-focus;
        box-shadow: none;
    }

    &__toggle {
        // replace button defaults
        background-color: $clr-gray-transparent;
        border: unset;
        border-radius: unset;
        border-bottom: $clr-dark-transparent 1px solid;
        // new properties
        padding: 0.5rem 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        &:hover * {
            color: $clr-focus;
        }
    }

    &__toggle-overflow {
        color: $clr-hyperlink;
        background-color: initial;
        border: unset;
        border-radius: unset;
        border-top: $clr-dark-transparent 1px solid;
        &:hover {
            background-color: $clr-focus-bg;
        }
    }

    &__indicator {
        color: $clr-dark;
        transform: rotateZ(90deg);
        transition: transform 250ms ease-in-out;
        margin-right: 0.5rem;
        font-size: 30px;
    }

    &__title {
        color: $clr-dark;
        font-size: $fs-button;
        font-weight: 600;
    }

    &__target {
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        list-style: none;
        line-break: strict;
        cursor: pointer;
    }

    &__item {
        color: $clr-light;
        padding: 0.3rem;
        input[type='checkbox'] {
            transform: scale(1.5);
            margin-right: 0.5rem;
            float: left;
            cursor: pointer;
            &:hover {
                background-color: $clr-focus-bg;
            }
        }
        input[type='checkbox'] + label {
            display: flex;
            height: 100%;
            line-height: 100%;
            align-items: center;
            text-align: left;
            text-decoration: none;
            cursor: pointer;
        }
        button[type='submit'] {
            padding: 0.1rem;
            border: none;
            text-align: left;
            justify-content: center;
            text-decoration: none;
            // override default colors
            color: $clr-text;
            background-color: transparent;
        }
    }

    &__item:hover,
    &__item:hover > input,
    &__item:hover > label,
    &__item:hover > button,
    &__item:hover > form > button {
        color: $clr-focus;
    }

    &--small {
        border: $clr-dark-transparent 0.5px solid;
        border-radius: 0;
        background-color: unset;
        padding: 0rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }

    &--small &__toggle {
        // replace button defaults
        border: none;
        border-radius: unset;
        border-bottom: $clr-dark-transparent 1px solid;
        // new properties
        padding: 0.5rem 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        &:hover * {
            color: $clr-focus;
        }
    }

    &--small &__title {
        $font-weight: 300;
    }

    &--collapsed &__toggle {
        border: none;
    }

    &--collapsed &__indicator {
        transform: rotateZ(0deg);
    }

    &--collapsed > &__target,
    &--collapsed > &__target + &__toggle-overflow,
    &--no-overflow > &__target > &__item--overflow {
        display: none;
    }
}
