@import '../defaults/variables';

.collapsible {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    border: $clr-dark 1px solid;
    border-radius: $border-radius-lg;
    background-color: $clr-light-transparent;
    align-items: center;
    overflow: hidden;

    & > * {
        width: 100%;
    }

    &__header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        border-bottom: $clr-dark-transparent 1px solid;
        background-color: $clr-gray-transparent;

        &:hover {
            background-color: $clr-focus-bg;
        }
        &:hover * {
            color: $clr-focus;
            background-color: unset;
        }
    }

    &__toggle {
        display: flex;
        flex: 1 1 0;
        border: unset;
        border-radius: unset;
        background-color: unset;
        align-items: center;
        gap: 0.4rem;

        i {
            color: $clr-active-bg;
            transform: rotateZ(90deg);
            transition: transform 250ms ease-in-out;
            margin-right: 0.5rem;
            font-size: 30px;
        }
        span {
            font-weight: bold;
        }
    }

    &__toggle-overflow {
        color: $clr-hyperlink;
        border: unset;
        border-radius: unset;
        background-color: initial;
        border-top: $clr-dark-transparent 1px solid;
    }

    &__content {
        display: grid;
        grid-template-rows: 1fr auto;
        transition: grid-template-rows 250ms;
        word-wrap: break-word;
        line-break: strict;
    }

    &__items {
        overflow: hidden;
        list-style: none;
    }

    &__item {
        width: 100%;
    }

    input[type=checkbox] {
        width: 1.3em;
        height: 1.3em;
        background-color: $clr-light-semi-transparent;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        cursor:cell;
    }

    input[type=checkbox]:checked {
        background-color: $clr-active-bg;
    }

    & & {
        overflow: visible;
        gap: 0;
        border: none;
        border-radius: 0;
        background-color: unset;
    }

    & & > &__content {
        max-width: 95%;
    }

    & & &__header {
        border: unset;
        background-color: unset;
    }

    & > &__header:has(&__toggle-group:checked) {
        & + .collapsible__content {
            display: none;
        }
        & .collapsible__toggle > i {
            transform: rotateZ(0deg);
        }
    }

    &--collapsed > &__header &__toggle {
        i {
            color: $clr-text;
            transform: rotateZ(0deg);
        }
    }

    &--collapsed {
        gap: 0;
        transition: gap 250ms ease-in;
    }

    &--collapsed > &__content {
        grid-template-rows: 0fr 0;
    }

    &--no-overflow > &__content > &__items > &__item--overflow {
        display: none;
    }
}

.filter {
    display: flex;
    flex-flow: row wrap;
    padding: 0.35rem 0.5rem;
    text-align: start;
    justify-content: center;
    border: unset;

    &__label {
        cursor: pointer;
        flex: 1 1 0;
        border: unset;
        color: $clr-text;
        background-color: unset;
    }
    &:has(&__checkbox) &__label {
        padding-left: 1rem;
    }

    &:not(:hover):has(&__checkbox:not(:checked)) &__label {
        opacity: 0.8;
    }
    &:hover {
        background-color: $clr-light-semi-transparent;
    }
    &:hover &__label {
        color: $clr-focus;
    }
}
