.container {
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    height: 100%;

    &__child {
        max-width: 100%;
    }

    @media screen and (min-width: $xs) {
        width: 750px;
    }
    @media screen and (min-width: $sm) {
        width: 970px;
    }
    @media screen and (min-width: $md) {
        width: 1170px;
    }
    @media screen and  (min-width: $lg) {
        width: 1320px;
    }
}

body > .container {
    min-height: 80vh;
}

@media screen and (min-height: 1300px) {
    body > .container {
        min-height: 90vh;
    }
}

@media screen and (min-height: 2600px) {
    body > .container {
        min-height: 100vh;
    }
}
