.container {
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;

    &__child {
        max-width: 100%;
    }

    @media (min-width: $xs) {
        width: 750px;
    }
    @media (min-width: $sm) {
        width: 970px;
    }
    @media (min-width: $md) {
        width: 1170px;
    }
    @media (min-width: $lg) {
        width: 1320px;
    }
}

main.container {
    min-height: 100vh;
}
