.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: stretch;

    &__logo {
        max-width: 100%;
        object-fit: scale-down;
        background-color: $clr-dark-transparent;
        border-radius: 1rem;
    }

    &__group {
        max-width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: none;
        gap: 0.5rem;
        &--centered {
            align-items: center;
        }
        &--horizontal {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        &--separated {
            border-bottom: $clr-dark-transparent 2px dashed;
        }
        &--major {
            flex-grow: 100;
        }
    }

    &__group[hidden] {
        display: none;
    }

    &__label {
        font-size: large;
        font-weight: bold;
        &--small {
            font-size: medium;
            font-weight: normal;
            font-style: italic;
        }
    }

    &__input {
        @extend input;
        padding: 0.5rem;
        height: 2rem;
        width: 100%;
        max-width: 100%;
        color: $clr-text;
        background-color: $clr-light-semi-transparent;
        border-radius: 0.4rem;
        border: $clr-dark 1px solid;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
        &:focus {
            border: $clr-active 2px solid;
        }

        &[type='checkbox'] {
            width: 2rem;
            height: 2rem;
        }

        &:is(textarea) {
            resize: none;
            height: auto;
        }
        &:is(textarea) &--rV {
            resize: vertical;
        }
        &:is(textarea) &--rH {
            resize: horizontal;
        }
        &:is(textarea) &--rB {
            resize: both;
        }
    }

    .page--dark &__logo {
        background-color: unset;
    }

    .page--dark &__label {
        color: $clr-light-semi-transparent;
    }

    .page--dark &__input {
        background-color: $clr-dark-semi-transparent;
        color: $clr-light-semi-transparent;
        &::placeholder {
            color: $clr-light-transparent;
        }
        &:hover {
            color: white;
        }
        &:focus {
            color: $clr-active;
        }
    }

    &__cancel,
    &__submit {
        flex-grow: 1;
        padding: 0.5rem 0.5rem;
    }

    &__cancel {
        color: $clr-light;
        background-color: red;
    }

    &__submit {
        color: $clr-active;
        background-color: $clr-active-bg;
    }
}

.slider {
    &__input {
        flex: 1 1 0;
    }
    &__value {
        text-align: center;
        width: 6rem;
    }
}
