.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: stretch;

    &__logo {
        max-width: 100%;
        object-fit: scale-down;
        background-color: $clr-dark-transparent;
        border-radius: 1rem;
    }

    &__group {
        flex-grow: 1;
        display: flex;
        flex-flow: column wrap;
        border: none;
        gap: 1rem;
        &--centered {
            align-items: center;
        }
        &--horizontal {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        &--horizontal-flex {
            @extend .form__group--horizontal;
            justify-content: flex-start;
        }
        &--separated {
            border-bottom: $clr-dark-transparent 2px dashed;
        }
        &--major {
            flex-grow: 100;
        }
    }

    &__group[hidden] {
        display: none;
    }

    &__label {
        font-size: large;
        font-weight: bold;
        &--small {
            font-size: medium;
            font-weight: normal;
            font-style: italic;
        }
    }

    &__input {
        @extend input;
        padding: 0 .25rem;
        line-height: 2rem;
        border: $clr-dark 1px solid;

        &:focus {
            border: $clr-active 1px solid;
        }

        &[type='checkbox'] {
            width: 2rem;
            height: 2rem;
        }

        &--invalid {
            border-color: red;
            background-color: rgba(255, 0, 0, 0.103);
        }
    }

    &__select {
        @extend input;
        flex: unset;
        height: 2rem;
        &:read-only {
            background-color: $clr-light-transparent;
        }
    }

    &__group--horizontal-flex &__input {
        flex: 1 1 0;
    }

    .page--dark &__logo {
        background-color: unset;
    }

    .page--dark &__label {
        color: $clr-light-semi-transparent;
    }

    .page--dark &__input,
    .page--dark &__select {
        background-color: $clr-dark-semi-transparent;
        color: $clr-light-semi-transparent;
        &::placeholder {
            color: $clr-light-transparent;
        }
        &:hover {
            color: white;
        }
        &:focus {
            color: $clr-active;
        }
    }

    &__button {
        flex: 1 1 0;
        max-width: 10rem;
        padding: 0.25rem;
        &--large {
            max-width: 100%;
        }
    }

    &__cancel,
    &__submit {
        flex-grow: 1;
        padding: 0.5rem 0.5rem;
    }

    &__cancel {
        color: $clr-light;
        background-color: red;
    }

    &__submit {
        color: $clr-active;
        background-color: $clr-active-bg;
    }
}

.slider {
    &__input {
        flex: 1 1 0;
    }
    &__value {
        text-align: center;
        width: 6rem;
    }
}
