@import '../defaults/variables';

.go-up {
    display: none;

    /* hook to single position */
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 99;

    /* style */
    border: none;
    outline: none;
    border-radius: 100%;
    border: $clr-light 1px solid;
    background-color: $clr-dark;
    cursor: pointer;
    padding: 1rem;
    aspect-ratio: 1 / 1;
    text-align: center;

    & > i {
        color: $clr-light;
        font-size: 1.6rem;
    }

    & > span {
        color: $clr-light;
        font-size: 1.2rem;
    }

    &:hover {
        border: $clr-focus 1px solid;
        background-color: $clr-focus-bg;
    }

    &:hover > i,
    &:hover > span {
        color: $clr-focus;
    }

    @media screen and (max-width: $xs) {
        & {
            padding: 0.7rem;
        }
        & > i {
            font-size: 1.2rem;
        }
        & > span {
            font-size: 1rem;
        }
    }
}
