@import '../defaults/variables';

.item {
    border: $clr-dark 1px solid;
    border-radius: $border-radius-lg;
    padding: 0.5rem;

    & &__header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
        border-bottom: $clr-dark-transparent 1px solid;
        padding-bottom: 0.4rem;
        margin-bottom: 0.2rem;
    }

    & &__controls {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    & &__preview,
    & &__edit,
    & &__delete {
        color: $clr-light;
        font-size: $fs-button;
        text-align: center;
        min-width: 3.5rem;
        padding: 0.5rem;
        border: $clr-dark 1px solid;
        border-radius: unset;

        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
        &:hover {
            color: $clr-focus;
            background-color: $clr-focus-bg;
            border-color: $clr-focus;
        }
    }

    & &__preview {
        background-color: $clr-hyperlink;
    }

    & &__edit {
        background-color: $clr-dark;
    }

    & &__delete {
        background-color: red;
    }

    & &__logo {
        flex: none !important;
        background-color: $clr-focus;
        text-align: left;
        width: 6rem;
        height: 6rem;
        object-fit: scale-down;
        border-radius: $border-radius-lg;
    }

    & &__row {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        & * {
            flex: 1;
        }
    }

    & &__title {
        --num-of-lines: 1;
        font-size: 1.4rem;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--num-of-lines);
        line-clamp: var(--num-of-lines);
        @media screen and (max-width: $sm) {
            font-size: 1.2rem;
        }
        &--stripped {
            font-size: 1rem;
            border: unset;
            background-color: unset;
        }
    }

    & &__text {
        strong {
            font-weight: bold;
        }
        small {
            font-style: italic;
            opacity: 60%;
        }
    }
}

.item:nth-child(odd) {
    background-color: $clr-light-transparent;
}

.item:nth-child(even) {
    background-color: $clr-gray-transparent;
}

.page--dark .item {
    background-color: $clr-light;
}

.item.private {
    border: $clr-private-bg 2px dashed;
    background-color: $clr-private-bg;
}
