.material {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    border: $clr-dark 1px solid;
    border-radius: $border-radius-lg;
    box-shadow: 0.2rem 0.2rem 0.8rem 0.05rem $clr-dark-transparent;
    background-color: $clr-active;
    margin-top: 1rem;

    & > * {
        max-width: 100%;
        max-height: 100%;
    }

    &-thumbnail {
        flex-grow: 1;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            max-width: 10rem;
        }
    }

    &-header {
        flex-basis: 10rem;
        flex-grow: 9999;
        text-align: left;
        padding: 1rem;
        background-color: $clr-light;
        button {
            float: right;
        }
    }

    &-details {
        border-top: $clr-dark-transparent 1px solid;
        padding-top: 1rem;
        :first-child {
            float: left;
        }
        :last-child {
            float: right;
        }
    }

    &-content {
        padding: 2rem;
        border-radius: $border-radius-lg;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 20%, rgba(245,245,245,0.5) 60%, $clr-active 300%);
        & > * {
            all: revert;
        }
        /** https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
        pre {
            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
    }

    &-attachments {
        hr {
            margin-top: 0.50rem;
            margin-bottom: 0.50rem;
        }
        ul, ol {
            list-style-type: none;
        }
        h2, a {
            word-break: break-all;
        }
        li {
            padding: 0.5rem;
            img {
                width: 2rem;
                height: 2rem;
                vertical-align: middle;
                margin-right: 0.5rem;
            }
        }
    }
}

.relations {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 14rem;
    gap: 1rem;

    .relation {
        flex: 1;
        padding: 0.5rem;
        cursor: pointer;

        .relation-thumbnail {
            width: 10rem;
            height: 10rem;
            resize: both;
        }

        .relation-title {
            font-weight: 400;
        }

        &:hover * {
            color: $clr-focus;
            background-color: $clr-focus-bg;
        }
    }
}
