@import '../defaults/variables';

.navbar {
    --height: 6rem;
    --padding: 1rem;
    --font-size: 1.25rem;
    z-index: 1;
    position: relative;
    background-color: $clr-dark;
    box-shadow: 0rem 0.5rem 1rem $clr-dark-transparent;
    border-bottom: $clr-dark solid 0.15rem;
    padding: 0.2rem;
    overflow: hidden;

    & &__container {
        @extend .container;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    & &__logo {
        cursor: pointer;
        color: $clr-light;
        text-align: center;
        resize: both;
        width: auto;
        height: auto;
        padding: calc(var(--padding) / 2) calc(var(--padding) / 2);
        max-width: 100%;
        max-height: var(--height);
        align-self: flex-start;
    }

    & &__list {
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
        list-style: none;
        gap: 0.2rem;
    }

    & &__item {
        white-space: nowrap;
        background-color: unset;
    }

    & &__item--to-right {
        margin-left: auto;
    }

    & &__item--switch:not(:hover) &__button {
        color: $clr-active;
    }

    & &__item--auth:not(:hover) &__button {
        background-color: $clr-dark-transparent;
    }

    & &__button,
    & &__toggle {
        padding: 1rem;
        text-align: left;
        font-weight: bold;
        font-size: var(--font-size);
        border-radius: $border-radius;
        &, & > i {
            color: $clr-light;
            background-color: unset;
        }
        & > i {
            margin-right: 0.3rem;
        }
    }

    &__button {
        display: block;
    }

    &__toggle {
        display: none;
    }

    & &__item.active &__button,
    & &__item.active &__toggle {
        background-color: $clr-active-bg;
        &, & > i {
            color: $clr-active;
        }
    }

    & &__item:hover &__button,
    & &__item:hover &__toggle {
        background-color: $clr-light-semi-transparent;
        &, & > i {
            color: $clr-dark;
        }
    }

    @media screen and (max-width: $sm) {
        // show toggle
        &__toggle {
            display: block;
        }

        &:not(.navbar--responsive) {
            // hide all links
            .navbar__item {
                display: none;
            }

            // move toggle to right
            .navbar__item--toggle {
                display: initial;
                margin-left: auto;
            }
        }

        &.navbar--responsive {
            // make list vertical instead of horizontal
            .navbar__container,
            .navbar__list {
                flex-flow: column nowrap;
            }

            .navbar__list {
                width: 100%;
                align-items: center;
                & > :last-child {
                    margin-bottom: 0.5rem;
                }
            }

            // show all links
            .navbar__item {
                width: 100%;
                margin: 0 0.5rem;
            }

            .navbar__button,
            .navbar__toggle {
                text-align: center;
            }

            // center toggle
            .navbar__toggle {
                text-align: center;
            }

            // colorize toggle button
            .navbar__item:not(:hover) .navbar__toggle {
                background-color: $clr-dark-transparent;
                &, & > i {
                    color: $clr-active;
                }
            }
        }
    }
}
