@import '../defaults/variables';

.page {
    // layout
    display: grid;
    grid-template:
        "a a" auto
        "c c" 1fr;
    // sizing
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    // styling
    gap: 1rem;
    padding: 2rem;
    background-color: $clr-light-semi-transparent;
    box-shadow: 0.2rem 0.2rem 1rem 0rem #00a8a89c;

    &--has-sidebar {
        grid-template:
            "a a" auto
            "b c" 1fr / minmax(15rem, 0.3fr) 1fr;
    }

    &--centered {
        flex-grow: 0;
        margin: auto;
        grid-template: "." auto;
    }

    &--dark {
        background-color: $clr-dark-semi-transparent;
        * {
            color: $clr-light;
        }
    }

    &--w30 {
        max-width: 30rem;
    }

    &__title {
        grid-area: a;
        width: 100%;
        border-bottom: $clr-dark-transparent 2px dashed;
        padding-bottom: 1rem;
    }

    &__sidebar {
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__content {
        grid-area: c;
    }

    &--centered &__content {
        grid-area: unset;
    }

    &__toggler {
        display: none;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-evenly;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__clickable {
        flex-grow: 1;
        flex-shrink: 1;
        &:not(:first-child) {
            margin-left: 0.4rem;
        }
    }

    @media screen and (max-width: $sm) {
        & {
            padding: 2rem 1rem;
        }
        &--has-sidebar {
            grid-template:
                "a" auto
                "b" auto
                "c" 1fr;
        }
        // default all group elements in group after toggling
        &__group .collapsible,
        &__group > * {
            display: none;
        }
        &__group--show .collapsible,
        &__group--show > * {
            display: initial;
        }
        &__group--show &__toggler:not(:hover) {
            background-color: $clr-active-bg;
            &, & > i {
                color: $clr-active;
            }
        }
        &__toggler {
            display: block;
        }
    }

    @media screen and (max-width: $xs-l) {
        & {
            padding: 2rem 0.5rem;
        }
    }
}
