@import '../defaults/variables';

.pagination {
    width: fit-content;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;

    &__list {
        display:flex;
        list-style: none;
    }

    &__item.active {
        background-color: unset;
    }

    &__item.active:not(:hover) &__button {
        background-color: $clr-active-bg;
    }

    &__item.active &__text {
        color: $clr-active;
        background-color: unset;
    }

    &__item--hideable {
        @media screen and (max-width: $sm) {
            display: none;
        }
    }

    &__item--hideable-xs {
        @media screen and (max-width: $xs-l) {
            display: none;
        }
    }

    &__item:first-of-type &__button {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    &__item:last-of-type &__button {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    &__button {
        height: 100%;
        padding: 0.5rem 1.5rem;
        border: $clr-light 1px solid;
        border-radius: unset;
        font-weight: $fw-button;
        color: $clr-light;
        background-color: $clr-dark;

        &:hover {
            color: $clr-focus;
            background-color: $clr-focus-bg;
            border-color: $clr-focus;
        }

        @media screen and (max-width: $xs) {
            padding: 0.5rem 1rem;
        }

        @media screen and (max-width: $xs-l) {
            padding: 0.4rem 0.6rem;
        }

    }

    &__button:hover &__text {
        color: $clr-focus;
    }

    &__text {
        color: $clr-light;
    }
}
