@import '../defaults/variables';

.property {
    gap: 1rem;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;

    &--unlocked {
        display: grid;
        grid-template:
            "active" 1fr
            "inactive" 0;
    }

    &__value {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &--unlocked &__value {
        cursor: pointer;
    }

    &__children {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        gap: .3rem .2rem;
        overflow: hidden;
    }

    &__item {
        // sizing
        flex: 1 1 0;
        min-width: fit-content;
        // style
        display: none;
        text-align: center;
        padding: .4rem;
        // border: $clr-dark-transparent 1px solid;
        border-radius: 1rem;
        background-color: rgba(172, 172, 172, 0.3);
    }

    &--non-empty {
        flex: 1 1 100%;
    }

    &--non-empty:not(&__item--active) {
        margin: 0.5rem;
    }

    & > &--non-empty:not(&__item--active) {
        margin: 0;
    }

    &--non-empty:not(&__item--active) > .property__children {
        border-top: $clr-dark-transparent 1px solid;
        padding-top: .5rem;
        margin-top: .5rem;
    }

    &__item > &__children {
        height: auto !important;
    }

    & > &__item {
        grid-area: inactive;
    }

    & > &__item--current {
        grid-area: active;
    }

    &--unlocked &__item {
        background-color: rgba(156, 35, 35, 0.192)
    }

    &--unlocked &__item--shown {
        background-color: rgba(79, 123, 204, 0.123);
    }

    &--unlocked &__item--active {
        background-color: rgba(106, 199, 106, 0.753);
    }


    &__item--active,
    &__item--shown,
    &--unlocked &__item {
        display: block;
    }

    &__item--active:is(&--non-empty) {
        flex-basis: fit-content;
        box-shadow: inset .2rem .1rem $clr-dark-transparent;
    }

    &__item--active > &__children {
        max-height: 0 !important;
    }
}

#property-prev:not(:disabled),
#property-next:not(:disabled) {
    color: $clr-light;
    background-color: $clr-dark-semi-transparent;
    &:hover {
        color: $clr-focus;
        background-color: $clr-focus-bg;
    }
}
