@import '../defaults/variables';

.property {
    margin: 0rem 0rem 0.5rem 0rem;

    &-actions {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 0.1rem;

        select, button {
            border: 1px solid $clr-gray-transparent;
            border-radius: $border-radius;
            padding: 0.25rem 0.5rem;
            margin-bottom: 0.1rem;
            cursor: pointer;
            color: $clr-text;
            background-color: #fff;
            background-image: linear-gradient(to top, #f0f0f0, #fafafa 33%);
        }

        select {
            width: 100%;
        }

        button {
            font-weight: bold;
            width: 50%;
        }

        button:hover {
            color: $clr-focus;
            background-image: linear-gradient(to top, #fff, #fff 33%);
        }

        option:disabled {
            display: none;
        }
    }

    &-groups {
        padding: 0.5rem;
        border: 2px solid $clr-gray-transparent;
        border-radius: $border-radius;

        label {
            color: $clr-text;
        }

        .property-group {
            display: flex;
            flex-wrap: wrap;
            font-size: smaller;
            margin-bottom: 1rem;

            &-wrapper {
                padding: 0.2rem;
            }

            &-item {
                display: inline-block;
                border: 1px solid $clr-gray;
                border-radius: 10rem;
                background-color: #fafafa;

                p {
                    margin-left: 0.5rem;
                }

                button {
                    margin-right: 0.5rem;
                    font-weight: bold;
                }

                p, button {
                    display: inline-block;
                    border: none;
                    font-size: 0.8rem;
                    color: $clr-dark;
                    margin-bottom: 0px;
                }

                &:hover {
                    background-color: #efefef;
                }
            }
        }

        .property-group:last-of-type {
            margin-bottom: 0rem;
        }
    }

    *[class$=inactive] {
        display: none;
    }
}
