.rating {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;

    &__stars {
        display: flex;
        white-space: nowrap;
        gap: 0.25rem;
        max-width: 100%;
        padding: 0.2rem 0;
        overflow: hidden;
    }

    &__star {
        cursor: pointer;
        font-size: 1.4rem;
        transition: 500ms ease-out;
    }

    &__star.hover {
        color: orange;
        transition: none;
    }

    &__star.active {
        -webkit-text-stroke-width: 1px;
        background-color: unset;
        &, &.own {
            -webkit-text-stroke-color: $clr-active-bg;
        }
    }

    &__star.own {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $clr-dark-semi-transparent;
        &:not(.active):not(.hover) {
            color: $clr-dark-transparent;
        }
    }

    &__count, &__views {
        line-height: 1.4rem;
    }

    &__stats {
        display: inline-block;
        max-width: 100%;
        & > :not(:first-child) {
            margin-left: 0.5rem;
        }
    }
}
