.rating {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    i {
        font-size: 1.4rem;
        transition: 500ms ease-out;
    }
    i.hover {
        color: orange;
        transition: none;
    }
    i.active {
        -webkit-text-stroke-width: 1px;
        background-color: unset;
        &, &.own {
            -webkit-text-stroke-color: $clr-active-bg;
        }
    }
    i.own {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $clr-dark-semi-transparent;
        &:not(.active):not(.hover) {
            color: $clr-dark-transparent;
        }
    }
    i:last-of-type, small {
        margin-right: 0.5rem;
    }
    small {
        line-height: 1.4rem;
    }
}
