@import '../defaults/variables';

.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.4rem;

    & &__button {
        flex-grow: 1;
        flex-shrink: 1;
    }

    & &__icon {
        position: relative;
        top: 0.1rem;
        font-size: 1.3rem;
        margin-right: 0.5rem;
    }

    & &__icon.down {
        position: relative;
        top: -0.1rem;
        transform: rotate(180deg);
    }
}
