@import '../defaults/variables';

.tooltip {
    display: block;
    position: fixed;
    z-index: 999; // always on top
    padding: 0.25rem 0.5rem;
    max-width: 10rem;
    text-align: center;
    background-color: #000000ce;
    border-radius: $border-radius;
    box-shadow: 0.3rem 0.2rem 0.1rem $clr-dark-semi-transparent;

    &--underlined {
        border-bottom: 1px dotted black;
    }

    &--active {
        opacity: 1;
        transition: opacity .2s ease;
    }

    &--inactive {
        opacity: 0;
        transition: opacity .4s ease-out;
    }

    &__text {
        color: $clr-light;
    }

}
