.table {
  display: block;
}
.table .item {
  margin-bottom: 1rem;
  background-color: lightgreen;
  border: var(--clr-dark) 1px solid;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.8rem 0.05rem var(--clr-dark-transparent);
  padding: 0.5rem;
}
.table .item .row {
  align-items: center;
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.2fr;
  gap: 1rem;
}
.table .item .row * {
  flex: 1;
}
.table .item .controls * {
  float: right;
  position: relative;
  bottom: 2rem;
  height: 2rem;
  width: 4rem;
}
.table .item .controls *.delete {
  background-color: red;
}
.table .item .controls *.edit {
  background-color: var(--clr-active);
}
.table .item .controls *:not(:last-child) {
  margin-left: 0.4rem;
}
.table .item .controls *:hover {
  background-color: var(--clr-focus-bg);
}
.table .item img {
  flex: none !important;
  background-color: red;
  text-align: left;
  width: 6rem;
  height: 6rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.table .item small {
  opacity: 60%;
}
.table .item.public {
  background-color: white;
}
.table .item.public-2 {
  background-color: var(--clr-light-transparent);
}
.table .item:hover p, .table .item:hover h2 {
  color: var(--clr-focus);
}
.table .item:hover {
  background-color: var(--clr-focus-bg);
}