.collapsible {
  position: relative;
  justify-content: left;
  align-items: left;
  box-shadow: 0.2rem 0.2rem 0.6rem var(--clr-dark-transparent);
  border: var(--clr-dark) 1px solid;
  border-radius: 1rem;
  background-color: var(--clr-light-transparent);
  overflow: hidden;
}
.collapsible:first-child {
  margin-top: 1rem;
}
.collapsible:not(:first-child) {
  margin-top: 0.5rem;
}
.collapsible-btn {
  color: var(--clr-text);
  background-color: var(--clr-light);
  display: flex;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
}
.collapsible-btn .fa-caret-right {
  transform: rotateZ(90deg);
  transition: transform 250ms ease-in-out;
  margin-right: 0.5rem;
  font-size: 30px;
}
.collapsible-btn p {
  height: 100%;
  text-decoration: none;
}
.collapsible-btn:hover * {
  color: var(--clr-focus);
}
.collapsible-list {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  list-style: none;
  line-break: strict;
  cursor: pointer;
}
.collapsible-list-item {
  padding: 0.2rem;
}
.collapsible-list-item:hover * {
  color: var(--clr-focus);
  background-color: var(--clr-focus-bg);
}
.collapsible-list-item input[type=checkbox] {
  transform: scale(1.5);
  width: 1rem;
  margin-right: 0.5rem;
  float: left;
  cursor: pointer;
}
.collapsible-list-item input[type=checkbox]:hover {
  background-color: var(--clr-focus-bg);
}
.collapsible-list-item input[type=checkbox] + label {
  display: block;
  height: 100%;
  line-height: 100%;
  align-items: center;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
.collapsible-list-item input[type=submit] {
  width: 100%;
  padding: 0.2rem;
  margin-top: 0.2rem;
  border-radius: 0.5rem;
  border-color: var(--clr-text-small);
  color: var(--clr-text);
  background-color: var(--clr-light-transparent);
  justify-content: center;
  text-decoration: none;
}
.collapsible.closed .collapsible-btn .fa-caret-right {
  transform: rotateZ(0deg);
}
.collapsible .overflow-btn {
  color: var(--clr-text);
  border-color: var(--clr-dark-transparent);
  background-color: var(--clr-light-transparent);
}
.collapsible .overflow-btn:hover {
  color: var(--clr-focus);
  border-color: var(--clr-focus);
  background-color: var(--clr-focus-bg);
}
.collapsible.closed .collapsible-list, .collapsible.overflow-closed .overflow {
  display: none;
}

.sidebar ul, .sidebar ol {
  list-style: none;
}
.sidebar button {
  width: 100%;
}
.sidebar .icon {
  margin-bottom: 0.4rem;
  display: none;
}
@media screen and (max-width: 62rem) {
  .sidebar .collapsible {
    display: none;
  }
  .sidebar .icon {
    display: block;
  }
  .sidebar.responsive .collapsible {
    display: block;
  }
}