a[aria-expanded=false] .collapse-hide {
    display: none;
}

a[aria-expanded=true] .collapse-show {
    display: none;
}

button[aria-expanded=false] .collapse-hide {
    display: none;
}

button[aria-expanded=true] .collapse-show {
    display: none;
}