html,
main {
  height: 100%;
}

main {
  display: block;
  align-items: center;
  justify-content: center;
}

.form-edit {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-edit .form-edit-floating,
.form-edit .tox-tinymce {
  margin-bottom: 1rem;
}

.form-edit .form-edit-floating .form-label {
    margin-bottom: 0.1rem;
    color: gray;
}

.form-edit .edit-mr {
    margin-right: 1rem;
}

.form-edit .edit-mb {
    margin-bottom: 1rem;
}

.form-edit .edit-mt {
    margin-top: 1rem;
}
