.navbar {
  --height: 6rem;
  --padding: 1rem;
  --font-size: 1.25rem;
  overflow: hidden;
  border-bottom: var(--card-outline) solid 0.1rem;
  margin-bottom: 1rem;
}
.navbar img, .navbar a {
  float: left;
  display: block;
  text-align: center;
  justify-content: center;
  height: var(--height);
}
.navbar img {
  resize: both;
}
.navbar a {
  position: relative;
  top: 30%;
  padding: var(--padding) var(--padding);
  line-height: calc(var(--height) - 2 * var(--padding));
  font-size: var(--font-size);
  font-weight: 600;
  text-decoration: none;
}
.navbar a:hover {
  background-color: black;
  color: white;
}
.navbar .active {
  background-color: yellow;
  color: blue;
}
.navbar .login, .navbar .icon {
  float: right;
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 1000px) {
  .navbar a {
    display: none;
  }
  .navbar .icon {
    display: block;
  }
  .navbar.responsive a:not(.icon) {
    --h: calc(var(--height) * 0.6);
    clear: both;
    float: none;
    display: block;
    text-align: left;
    font-size: calc(var(--font-size) - 0.25rem);
    height: var(--h);
    line-height: calc(var(--h) - 2 * var(--padding));
  }
  .navbar.responsive .icon {
    position: absolute;
    right: var(--padding);
    top: var(--padding);
  }
}