.property-actions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.property-actions select, .property-actions button {
  border: 1px solid var(--clr-gray200);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  background-image: linear-gradient(to top, #f0f0f0, #fafafa 33%);
}
.property-actions select {
  width: 100%;
}
.property-actions button {
  font-weight: bold;
  width: 50%;
}
.property-actions button:hover {
  color: var(--clr-primary-hover);
  background-image: linear-gradient(to top, #fff, #fff 33%);
}
.property-actions option:disabled {
  display: none;
}
.property-groups {
  padding: 0.5rem;
  border: 2px solid var(--clr-gray200);
  border-radius: 0.5rem;
}
.property-groups label {
  color: var(--clr-gray400);
}
.property-groups .property-group {
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
  margin-bottom: 1rem;
}
.property-groups .property-group-wrapper {
  padding: 0.2rem;
}
.property-groups .property-group-item {
  display: inline-block;
  border: 1px solid var(--clr-gray400);
  border-radius: 10rem;
  background-color: #fafafa;
}
.property-groups .property-group-item p {
  margin-left: 0.5rem;
}
.property-groups .property-group-item button {
  margin-right: 0.5rem;
  font-weight: bold;
}
.property-groups .property-group-item p, .property-groups .property-group-item button {
  display: inline-block;
  font-size: 0.8rem;
  color: var(--clr-gray400);
  margin-bottom: 0px;
}
.property-groups .property-group-item:hover {
  background-color: #efefef;
}
.property-groups .property-group:last-of-type {
  margin-bottom: 0rem;
}
.property *[class$=inactive] {
  display: none;
}