@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-gray100);
}

.vh100 {
    min-height: 100vh;
    height: 100%;
}

.wpad {
    &10 {
        width: 10px;
    }
    &20 {
        width: 20px;
    }
    &30 {
        width: 30px;
    }
    &40 {
        width: 40px;
    }
    &1 {
        width: 1rem;
    }
    &2 {
        width: 2rem;
    }
    &3 {
        width: 3rem;
    }
    &4 {
        width: 4rem;
    }
}
