Header Set Access-Control-Allow-Origin *

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule (.*) public/index.php/$1 [L,NC,QSA]
</IfModule>
